:root{
    /* -------------- COLORS -------------- */
    --primary-color: #AE7A2D;
    --secondary-color: #FBFBF2;
    --tertiary-color: #231F20;
    --default-grey: rgba(0,0,0,0.4);
}

@font-face {
  font-family: "Caviar Dreams";
  src:  url("../public/CaviarDreams_Bold.woff2") format("woff2"),
		url("../public/CaviarDreams_BoldItalic.woff2") format("woff2"),
		url("../public/CaviarDreams_Italic.woff2") format("woff2"),
		url("../public/CaviarDreams.woff2") format("woff2");
}

@font-face {
  font-family: "Caviar Dreams Thin";
  src: url("../public/CaviarDreams.woff2") format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Caviar Dreams", sans-serif !important;
}

body{
	background-color: var(--secondary-color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	margin: 0 !important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
	cursor: pointer;
}

/* Remove excess padding and border in Firefox 4+ */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* ANT CAROUSEL OVERRIDE */

.slick-dots{
  position: relative;
}

.slick-dots::before, .slick-dots::after{
    position: absolute;
    left: 15px;

    content: '';
    height: 3px;
    width: calc(300px - 60px - 15px);

    background-color: var(--tertiary-color);
}

.slick-dots::after{
    left: unset;
    right: 15px;
}

.ant-carousel .slick-dots-bottom{
    top: 80vh !important;
    bottom: unset !important;
}

.ant-carousel .slick-dots li button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 10px !important;
  
    background: var(--tertiary-color) !important;

    position: relative !important;
    top: -8px !important;
}

.ant-carousel .slick-dots li.slick-active{
  width: unset !important;
}

.ant-carousel .slick-dots li{
  width: unset !important;
}

.ant-carousel .slick-dots li.slick-active button{
  background: var(--primary-color) !important;
}

@media (max-width: 1240px) {
    ul.slick-dots ul.slick-dots-bottom{
      display: none !important;
    }
  }